<html ng-app="shamanicApp">
<head>
<title>Shamanic User SignUp</title>
</head>
<body ng-controller="SignUpCtrl">

	<form name="myForm" action="/signup" method="post" novalidate>
	  <div>
		<label>Username:</label>
		
		<input ng-model="username" type="text" placeholder="Username" autofocus required/>
			<div id="usernameErrors" class="error">{{message}}</div>
	  </div>
	  <div>
		<label>Password:</label>
		<input type="password" name="password" placeholder="Password" ng-model="value1" equals="{{value2}}" required/>
	  </div>
	  <div>
		<label>Confirm Password:</label>
		<input type="password" name="confirm_password" placeholder="Confirm Password" ng-model="value2" equals="{{value1}}" required />
		<div ng-show="myForm.confirm_password.$error.equals">Passwords do not match.</div>
	  </div>
	  
	  <div>
		<input type="checkbox" name="agreement" required>I agree!
	  </div>
	  <div>
		<input type="submit" value="Sign Up" ng-model="submit" ng-disabled="myForm.username.$pristine && myForm.password.$pristine || myForm.username.$dirty && myForm.username.$invalid || myForm.username.$dirty && myForm.confirm_password.$error.equals" />
	  </div>
      <div class="custom-error" ng-show="myForm.username.$dirty && myForm.username.$invalid">Invalid:
	    <span ng-show="myForm.username.$error.required">Username is required.</span>
	  </div>
	</form>
	You're signing up as {{username}}, I hope you know.

	
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.22/angular.min.js"></script>

<script>
	var app = angular.module("shamanicApp", [])
	
	.controller("SignUpCtrl", ['$scope', function SignUpCtrl($scope){
		//if $scope.name != '' {
		//	$scope.submit = function() {
		//		
		//	}
		//}
		$scope.username = '';
		$scope.password = '';
	}])
	

//angular.module('shamanicApp')

.directive("equals", function() {
	return {
		restrict: 'A',
		require: "?ngModel",
		link: function(scope, elem, attrs, ngModel) {
			if (!ngModel) return;
			scope.$watch(attrs.ngModel, function() {
				validate();
				});
				
			attrs.$observe('equals', function(val) {
				validate();
			});
		
			var validate = function() {
				var val1 = ngModel.$viewValue;
				var val2 = attrs.equals;
				
				if (val1 || val2) { ngModel.$setValidity('equals', val1 === val2); }
			};
		}
	}
});
</script>
</body>
</html>